body{
	width:100%;
        height:100%;
       background-image:url("https://github.com/ChuongLeDuc/my-especial/blob/main/20210830_173253.jpg ");
   }

#page{
   margin:30% auto;
   min-height:350px;
   min-width:50%;
   background:green;
}
